npm-debug.log
.env
archive/
logs/
node_modules/
testUsers.json
package-lock.json
.vscode/
public
config.json
.idea/
.nyc_output/
api/rpc/client.js

# volumes system directories for docker containers
dist/
.bash_history
.config/
dapps/
.nyc_output
.npm/
.node-gyp/
/client.js
/v8-compile-cache-0/
.npmrc
npm-global
.cache
