npm-debug.log
.env
archive/
logs/
node_modules/
testUsers.json
package-lock.json
.vscode/
public
config.json
.idea/
.nyc_output/
api/rpc/client.js

secrets.json
transactionsNew.csv
addressesWithNegativeBalance.csv
transactionsNew_19_04_2019_T13_30.csv
10_05_2019_T12_00_addressesWithNegativeBalanceWithFixStakeNotEnough.csv
newTrsFromProd.csv
newTrsFromProd_001.csv

# volumes system directories for docker containers
dist/
.bash_history
.config/
dapps/
.nyc_output
.npm/
.node-gyp/
/client.js
/v8-compile-cache-0/
