<div class="app-modal valign-wrapper">
    <div class="container height100">
        <div class="row height100">
            <div class="col-md-6 col-md-offset-3 height100 valign-wrapper">
                <div class="modal-content">
                    <div class="modal-header modal-iconed">
                        <div class="close-modal" ng-click="close()">
                            <span class="sr-only"><translate>Close modal</translate></span>
                        </div>
                        <span class="modal-log">ETP</span>
                    </div>
                    <div class="modal-header clearfix">
                        <div>
                            <h2>{{'Freeze ETP'|translate}}</h2>
                        </div>
                        <div><translate>Please enter the ETP Amount that you would like to freeze.</translate></div>
                    </div>
                    <div class="modal-body">
                        <form ng-submit="passcheck()">
                            <div class="field-padding">
                                <div class="input-field">
                                    <input id="FreezeAmount" type="text" ng-model="FreezeAmount" ng-focus="focus == 'FreezeAmount'" ng-class="{'invalid': errorMessage.FreezeAmount}">
                                    <label for="FreezeAmount"><translate>Freeze ETP Amount </translate></label>
                                </div>
                                <span class="fee-text flat-text pull-right"><translate>Fee: {{fee | ETPFilter}} ETP</span>
                                <!-- <span class="pass-error" ng-show="errorMessage.amount">{{errorMessage.FreezeAmount}}</span> -->
                            </div>
                            <p class="error-container" ng-show="errorMessage.recipient">
                                <span class="pass-error">{{errorMessage.recipient}}</span>
                            </p>





                            <!-- <p class="error-container" ng-show="errorMessage.fromServer">
                                <span class="pass-error">{{errorMessage.fromServer}}</span>
                            </p>
                            <input type="submit" ng-show="false"> -->
                        </form>
                    </div>
                    <div class="modal-body bordered">
                        <ul class="nav modal-buttons pull-right">
                            <li>
                                <a href="#" ng-click="close()"><translate>Cancel</translate></a>
                            </li>
                            <li>
                                <a href="#" ng-click="freezeOrder(FreezeAmount)"><translate>Confirm</translate></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
