<div class="app-modal valign-wrapper">
    <div class="container height100">
        <div class="row height100">
            <div class="col-md-6 col-md-offset-4 height100 valign-wrapper">
                <div class="modal-content">
                    <div class="modal-header modal-iconed">
                        <div class="close-modal" ng-click="close()">
                            <span class="sr-only"><translate>Close modal</translate></span>
                        </div>
                        <span class="modal-log">ETP</span>
                    </div>
                    <div class="modal-header clearfix">
                        <div>
                            <h2>{{'Send Freeze Order'|translate}}</h2>
                        </div>
                        <div><translate>Please enter the Recipient Address to which this order send.</translate></div>
                    </div>
                    <div class="modal-body send-freeze-order">
                        <form>
                            <div class="input-group app-addon">
                                <input id="sender" ng-focus="focus == 'sender'" type="text" class="form-control" placeholder="{{'Freeze Id'|translate}}" ng-model="freezeId" readonly>
                            </div>
                            
                           



                            <div class="input-group app-addon">
                                <input id="recipient" ng-focus="focus == 'recipient'" type="text" class="form-control" placeholder="{{'Recipient Address'|translate}}" ng-model="recipientId">
                                <span class="input-group-addon clear" ng-click="clearRecipient()"></span>
                            </div>
                            <span class="fee-text flat-text pull-right"><translate>Fee: {{fee | ETPFilter}} ETP</span>

                           
                            
                            <input type="submit" ng-show="false">
                        </form>
                    </div>
                    <div class="modal-body bordered top-margin-40">
                        <span class="send-info-text flat-text"><translate>Make sure you're sending freeze ETP to the right address. This action can't be undone later.</translate></span>
                    </div>
                    <div class="modal-body bordered">
                        <ul class="nav modal-buttons pull-right">
                            <li>
                                <a href="#" ng-click="close()"><translate>Cancel</translate></a>
                            </li>
                            <li>
                                <a href="#" ng-click="freezeOrder(freezeId,recipientId)"><translate>Confirm</translate></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
