body{
  background-color: #eef5f9;
}

.log-box{
  float: left;
  min-width: 240px;
  padding: 0 10px;
  background: #cc3d3d;
  #logo{
    display: inline-block;
    background-position: center center;
    width: 100%;
  }
}
#header{
  background-color: #ffffff;
  #title{
    color: #cc3d3d;
  }
}

.top-header-section{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;

}
.main-page-content{
  margin-top: 67px;
}
#header {
  .more-down {
    color: #27292a;
  }
}

.pass-window-icon{
  background-image: none;
  text-align: center;
  color: #fff;
  span{
    font-size: 35px;
    padding-top: 35px;
    display: inline-block;
  }
}
.search-bar{
  border: #cecece 1px solid;
  border-radius: 4px;
  padding: 5px 50px 5px 10px;
  margin-bottom: 15px;

}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}
.top-margin {
  margin-bottom: 15px;
}

#header{
  .log-box{
    #logo{
      background-image: none;
      color: #fff;
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      font-weight: 500;
      font-size: 20px;
    }
  }
}
.pass-window-icon{
  background-color: #cc3d3d;
}
.pass-banner{
  background: none;
}
.btn.btn-blue{
  background-color: #cc3d3d!important;
}

.pl-none{
  padding-left: 0px!important;
}

.test {
  display: none;
}

















/* For Menu Sidebar  */
#sidebar-wrapper{
  background: #ffffff;
  .account-block {
    background-color: #fbfbfb;
    border-bottom: #f5f1f1 1px solid;
    .address {
      color: #797979;
    }
  }
  #menu{
    padding-top: 0px;
    li{
      a{
        .menu-text, .submenu-collapsing{
          color: #607d8b; 
        }
      }
      &.active{
        background-color: #f2f5f7;
      }
    }
  }
}










/*For explorer html*/
.widget {
  background: #ffffff;
  margin-bottom: 25px;
  border-radius: 4px;
  padding: 15px 10px;
  -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.12);
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12);
  position: relative;
    .icon-box{
      display: inline-block;
      width: 40px;
      height: 40px;
      position: absolute;
      right: 15px;
      top: 0;
      color: #000;
      transform: translateY(50%);
    }
}

.ch-title{
  font-size: 24px;
  color: #35d099;
  font-weight: 300;
}
.info-heading{
  font-size: 13px;
  font-weight: 300;
  padding-top: 10px;
  display: block;
  text-transform: uppercase;
  color: #ababab;
}
.red-color{
  color: @red;
}
.orange-color{
  color: @orange;
}
.green-color{
  color: @green;
}
.red-border-top{
  border-top: @red 4px solid;
}
.orange-border-top{
  border-top: @orange 4px solid;
}
.green-border-top{
  border-top: @green 4px solid;
}
.ch-title-border-top{
  border-top: #35d099 4px solid;
}



/* For table section  */
.panel{
  .panel-heading{
    background: #cc3d3d;
    padding: 12px;
    border-bottom: none;
    h2{
      color: @white;
      opacity:1;
      font-size: 16px;
      font-weight: 400;
    }
  }
  .table-menu{
    top:6px;
    .more-down-table{
      color: @white;
    }
  }

}
.paginated .ng-table thead th div span{
  padding: 12px 0;
}
.ng-table th.sortable div span:after{
  top:13px;
}
.ng-table th.sortable div span:before{
  top: 21px;
}
.ng-table th.sortable.sort-desc div span:after{
  top: 18px;
}
.ng-table th.sortable.sort-asc div span:before{
  top: 17px;
}

.ng-table thead tr th:first-child{
  padding-left: 12px;
}
.paginated .ng-table thead th div span{
  font-weight: 400;
}
.paginated .ng-table thead{
  border-bottom: none;
}
.panel-default table td{
  padding:12px 0 12px 5px;
}
.panel-default table td a{
  color: #cc3d3d;
}
.pagination{
  margin: 10px 0;
}