body{
  background-color: #eef5f9;
}

.pr7{
  padding-right: 7.5px;
}
.pl7{
  padding-left: 7.5px;
}
.gray2{
  background-color: @gray2;
}
.tab-nav{
  .nav-underline{
    li{
      &.active {
        a {
          font-weight: 500;
          border-bottom: solid 4px #d32f2f;
        }
      }
    }
  }
}
.info-panel, .info-panel.info-panel-grey, .light-graph{
  margin-bottom: 15px;
}



.log-box{
  float: left;
  min-width: 240px;
  padding: 0 10px;
  background: #d32f2f;
  #logo{
    display: inline-block;
    background-position: center center;
    width: 100%;
  }
}
#header{
  background-color: #ffffff;
  #title{
    color: @brown1;
  }
  #top-menu{
    padding: 14px 10px;
  }
}
.top-header-section{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
.main-page-content{
  margin-top: 67px;
}
.pass-window-icon{
  background-image: none;
  text-align: center;
  color: #fff;
  span{
    font-size: 35px;
    padding-top: 35px;
    display: inline-block;
  }
}
.search-bar{
  border: #cecece 1px solid;
  border-radius: 4px;
  padding: 5px 50px 5px 10px;
  margin-bottom: 15px;

}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}
.top-margin {
  margin-bottom: 15px;
}
#header{
  .more-down {
    color: #27292a;
  }
  .log-box{
    #logo{
      background-image: none;
      color: #fff;
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      font-weight: 500;
      font-size: 20px;
    }
  }
  .logo {
    padding: 19px 10px;
  }
}
.pass-window-icon{
  background-color: #cc3d3d;
}
.pass-banner{
  background: none;
}
.btn.btn-blue{
  background-color: #cc3d3d!important;
}
.pl-none{
  padding-left: 0px!important;
}

.test {
  display: none;
}
/* For Menu Sidebar  */
#sidebar-wrapper{
  background: #ffffff;
  .account-block {
    background-color: #fbfbfb;
    border-bottom: #f5f1f1 1px solid;
    .address {
      color: #d32f2f;
    }
    .name{
      color: #797979;
    }
  }
  #menu{
    padding-top: 0px;
    li{
      a{
        .menu-text, .submenu-collapsing{
          color: #607d8b; 
        }
      }
      &.active{
        background-color: #f2f5f7;
      }
    }
  }
}
@light-green:#35d099;
@dark-red:#d32f2f;

.light-green-bg{
  background: @light-green
}
.dark-red-bg{
  background: @dark-red;
}
.light-orangr-bg{
  background: @orange;
}
.normal-green-bg{
  background: @green;
}
/*For explorer html*/
.widget {
  background: #ffffff;
  margin-bottom: 25px;
  border-radius: 4px;
  padding: 15px 10px;
  -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.12);
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12);
  position: relative;
    .icon-box{
    width: 80px;
    height: 100%;
    padding-top: 16px;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    text-align: center;
      i{
        font-size: 40px;
      }
    }
}
.ch-title{
  font-size: 24px;
  color: #35d099;
  font-weight: 300;
}
.info-heading{
  font-size: 13px;
  font-weight: 300;
  padding-top: 10px;
  display: block;
  text-transform: uppercase;
  color: #ababab;
}
.red-color{
  color: @red;
}
.orange-color{
  color: @orange;
}
.green-color{
  color: @green;
}
.red-border-top{
  border-top: @red 4px solid;
}
.orange-border-top{
  border-top: @orange 4px solid;
}
.green-border-top{
  border-top: @green 4px solid;
}
.ch-title-border-top{
  border-top: #35d099 4px solid;
}
/* For table section  */
.panel{
  .panel-heading{
    background: #cc3d3d;
    padding: 12px;
    border-bottom: none;
    h2{
      color: @white;
      opacity:1;
      font-size: 16px;
      font-weight: 400;
    }
  }
  .table-menu{
    top:6px;
    .more-down-table{
      color: @white;
    }
  }
}
.paginated .ng-table thead th div span{
  padding: 12px 0;
}
.ng-table th.sortable div span:after{
  top:13px;
}
.ng-table th.sortable div span:before{
  top: 21px;
}
.ng-table th.sortable.sort-desc div span:after{
  top: 18px;
}
.ng-table th.sortable.sort-asc div span:before{
  top: 17px;
}

.ng-table thead tr th:first-child{
  padding-left: 12px;
}
.paginated .ng-table thead th div span{
  font-weight: 400;
}
.paginated .ng-table thead{
  border-bottom: none;
}
.panel-default table td{
  padding:12px 0 12px 5px;
}
.panel-default table td a{
  color: #cc3d3d;
}
.pagination{
  margin: 10px 0;
}

/* For Login Page */
#pass {
  background-image: url("/images/blockchain.jpg");
  width: 100%;
  height: 100vh;
  display: table;
  background-size: contain;
  position: relative;
  .overlay {
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    right: 0;
    opacity: 0.8;
  }
  .pass-bottom {
    width: auto;
    height: auto;
    display: table-cell;
    position: relative;
    vertical-align: middle;
    .pass-window {
      margin: 0 auto;
      .pass-window-form{
        padding: 10px 15px 15px!important;
      }
    }
    .pass-footer {
      bottom: 0;
      text-align: center;
      width: 100%;
      color: @white;
      font-size: 14px;
      padding: 20px 0;
      margin-top:30px;
      position: relative;
    }
  }
}
.tab-nav{
  margin: 0 -15px  15px!important;
}
.empty-body.empty-table {
  margin-top: -22px;
}

.widget{
  margin-bottom: 15px;
}

#explorer-icon {
  background-position: 22px -44px;
}
.active{
  #explorer-icon {
    background-position: 22px -66px;
  }
}

#stake-icon {
  background-position: 0px 44px;
}
.active{
  #stake-icon {
    background-position: 0px 22px;
  }
}







/* For modal */
.app-modal .material-modal-content .modal-header.modal-iconed, .app-modal .modal-content .modal-header.modal-iconed{
  background-image: none;
  color: @white;
  background-color: #cc3d3d;
  .modal-log {
    font-size: 35px;
    padding-top: 21px;
    display: inline-block;
  }
}

.panel-default .panel-heading .more{
  top: 17px;
}
/* For Table */
.panel-default{
  table {
    .head{
      border-bottom: 1px solid @border-grey;
      th {
        padding: 12px;
      }
    }
    td{
      &:first-child {
        padding-left: 12px;
      }
    }
    &.ng-table{
      tr{
        &.voted {
          background-color: none;
        }
      } 
    }
  }
}

.padding-in-1400{
  padding-left: 12px!important;
}
/* End Table */

/* For Pagination */
.paginated .pagination>li>a, .paginated .pagination>li>span{
  margin-right:5px;
  min-width: 32px;
}


.back-btn-icon{
  margin-left: -10px;
  font-size: 1.8em;
  margin-right: 0;
}


.dashboard-info{
  .panel-body{
    padding: 0;
    display: table;
    width: 100%;
    height: 100%;
    .icon-container{
      display: table-cell;
      vertical-align: middle;
      width: 30%;
      .info-box-icon {
        float: left;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 70px;
        background: #f2f5f7;
        border-radius: 100%;
      }
    }
    .info-box-content {
      padding: 0;
      line-height: 18px;
      margin-top: 5px;
      text-align: right;
      display: table-cell;
      vertical-align: middle;
      width: 70%;
      .info-box-number{
        font-size: 14px;
      }
      .info-box-text{
        font-size: 14px;
        font-weight: 400;
        display: block;
        color: #ababab;
      }
    }
  }
  .widget{
    padding: 15px 10px;
    min-height: 85px;
    max-height: inherit;
  }
  .widget-brown{
    border-top: none!important;
  }
}


#loader {
  text-align: center;
  position:fixed;
  top:0;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  background: #cc3d3d;
  .loader-container{
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -55px;
  }
}
@keyframes loader {
  0% { left: -100px }
  100% { left: 110%; }
}
#box {
  width: 50px;
  height: 50px;
  background: #fff;
  animation: animate .5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}
@keyframes animate {
  17% { border-bottom-right-radius: 3px; }
  25% { transform: translateY(9px) rotate(22.5deg); }
  50% {
    transform: translateY(18px) scale(1,.9) rotate(45deg) ;
    border-bottom-right-radius: 40px;
  }
  75% { transform: translateY(9px) rotate(67.5deg); }
  100% { transform: translateY(0) rotate(90deg); }
} 
#shadow { 
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow .5s linear infinite;
}
@keyframes shadow {
  50% {
    transform: scale(1.2,1);
  }
}


h4 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  font-weight: 200;
  opacity: .5;
	font-family: sans-serif;
  color: #fff;
}

.send-freeze-order{
  .fee-text{
    top: 10px;
    right: 30px;
  }
}

.passphrase-form{
  .generate{
    margin-bottom: 0;
  }
}

.country-box{
  select{
    display: block;
    width: 100%;
    font-size: 1.15rem;
    background: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: 0;
    height: 2.2rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all .3s;
    option:first {
      color: #999;
    }
  }
}

/* For custom scrollbar */ 
body{
  overflow-x: visible;
}

/* width */
body::-webkit-scrollbar,#sidebar-wrapper::-webkit-scrollbar {
  width: 6px;
}

/* Track */
body::-webkit-scrollbar-track,#sidebar-wrapper::-webkit-scrollbar-track{
  background: #fff; 
}

/* Handle */
body::-webkit-scrollbar-thumb,#sidebar-wrapper::-webkit-scrollbar-thumb {
  background: #d32f2f; 
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover,#sidebar-wrapper::-webkit-scrollbar-thumb:hover {
  background: #c41f1f; 
}
.top-header-section{
  z-index: 99;
}

.avlEtp-balance{
  float: left;
  text-align: center;
  line-height: 18px;
  color: #d32f2f;
  font-size: 16px;
  span{
    display: block;
    color: #544835;
    font-size: 13px;
    margin-bottom: 1px;
  }
}
