<div class="top-margin"></div>
<div class="row clearfix">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 pr7 dashboard-info">
      <div class="panel widget widget-brown">
        <div class="panel-body">
            <span class="icon-container"><span class="info-box-icon bg-blue"><img src="images/plug.png" width="32"></span></span></span>
            <div class="info-box-content">
                <span class="info-box-number">{{totalSupply || 0}} ETP</span><br>
                <span class="info-box-text">{{'Total Supply'|translate}}</span>
              </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 pr7 pl7 dashboard-info pr15-none">
      <div class="panel widget widget-brown">
        <div class="panel-body">
          <span class="icon-container"><span class="info-box-icon bg-blue"><img src="images/power-cord.png" width="32"></span></span>
            <div class="info-box-content">
                <span class="info-box-number">{{circulatingSupply || 0}} ETP</span><br>
                <span class="info-box-text">{{'Circulating Supply'|translate}}</span>
              </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 pl7 pr7 dashboard-info pl15-none">
      <div class="panel widget widget-brown">
        <div class="panel-body">
          <span class="icon-container"><span class="info-box-icon bg-blue"><img src="images/users-group.png" width="32"></span></span>
            <div class="info-box-content">
                <span class="info-box-number">{{totalCount}}</span><br>
                <span class="info-box-text">{{'Token Holders'|translate}}</span>
              </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 pl7 pr0 dashboard-info">
      <div class="panel widget widget-brown">
        <div class="panel-body">
          <span class="icon-container"><span class="info-box-icon bg-blue"><img src="images/money-bag-with-dollar-symbol.png" width="32"></span></span>
            <div class="info-box-content">
                <span class="info-box-number"><span class="strong">{{balanceToShow[0] || 0}}<span class="small">{{balanceToShow[1]}}</span></span>&nbsp;ETP</span> <br><span>({{((balanceDecParseInt/circulatingSupply)*100).toFixed(2)}}%)</span>
                <span class="info-box-text">{{'Your ETP Balance'|translate}}</span>
              </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 pr7 dashboard-info">
      <div class="panel widget widget-brown">
        <div class="panel-body">
          <span class="icon-container"><span class="info-box-icon bg-blue"><img src="images/snowflake.png" width="32"></span></span>
            <div class="info-box-content">
                <span class="info-box-number">{{myETPFrozen || 0}} ETP</span><br><span>({{totalETPStaked?((myETPFrozen/totalETPStaked)*100).toFixed(2):0}}%)</span>
                <span class="info-box-text">{{'Your ETP Frozen'|translate}}</span>
              </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 pr7 pl7 dashboard-info pr15-none">
      <div class="panel widget widget-brown">
        <div class="panel-body">
          <span class="icon-container"><span class="info-box-icon bg-blue"><img src="images/share-connection-sing.png" width="32"></span></span>
            <div class="info-box-content">
                <span class="info-box-number">{{totalConnected}}</span><br>
                <span class="info-box-text">{{'Total Connected'|translate}}</span>
              </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 pr7 dashboard-info">
      <div class="panel widget widget-brown">
        <div class="panel-body">
          <span class="icon-container"><span class="info-box-icon bg-blue"><img src="images/icon.png" width="32"></span></span>
            <div class="info-box-content">
                <span class="info-box-number">{{countStakeholders}}</span><br>
                <span class="info-box-text">{{'Total Stakeholders'|translate}}</span>
              </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 pl7 dashboard-info">
      <div class="panel widget widget-brown">
        <div class="panel-body">
            <span class="icon-container"><span class="info-box-icon bg-blue"><img src="images/moneylock.png" width="32"></span></span>
            <div class="info-box-content">
                <span class="info-box-number">{{totalETPStaked || 0}} ETP</span><br>
                <span class="info-box-text">{{'Total Stake Amount'|translate}}</span>
              </div>
        </div>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading" ng-class="{'cursor': transactions.length}" eat-click-if="!transactions.length" ui-sref="main.transactions">
        <h2>
          {{'Latest Transactions'|translate}}
        </h2>
        <div class="more" ng-show="transactions.length">
          <span class="sr-only"><translate>More</translate></span>
        </div>
      </div>
      <table id="transactions" ng-if="transactions.length">
        <thead>
          <tr class="head">
            <th class="hide-in-1400">
              <translate>Transaction ID</translate>
            </th>
            <th class="padding-in-1400">
              <translate>Sender</translate>
            </th>
            <th>
              <translate>Recipient</translate>
            </th>
            <th>
              <translate>Time</translate>
            </th>
            <th>
              <translate>Amount (Fee)</translate>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="transaction in transactions">
            <td class="hide-in-1400">
              <a href="#" ng-click="transactionInfo(transaction)" class="word-break-xs">{{transaction.id}}</a>
            </td>
            <td class="padding-in-1400">
              <a href="#" ng-click="userInfo(transaction.senderId)" class="word-break-xs">{{transaction.senderId}}</a>
            </td>
            <td ng-show="transaction.type &lt;= 1">
              <a href="#" ng-click="userInfo(transaction.recipientId)" class="word-break-xs">{{transaction.recipientId}}</a>
            </td>
            <td ng-show="transaction.type &gt; 1"></td>
            <td>
              {{transaction.timestamp | timeAgoFilter: false}}
            </td>
            <td>
              <i ng-if="transaction.recipientId==transaction.senderId" class="vertical-text mdi-image-brightness-1 cloud-font"></i>
              <i ng-if="transaction.recipientId!=transaction.senderId" class="vertical-text" ng-class="{'mdi-content-add-circle dark-meent-font': transaction.recipientId==address, 'mdi-content-remove-circle dark-red-font': transaction.senderId==address}"></i>
              {{transaction.amount | ETPFilter}} ({{transaction.fee | ETPFilter}})
            </td>
          </tr>
        </tbody>
      </table>
      <div class="panel-body empty-body" ng-if="!transactions.length">
        <!-- <div class="logo-grey"></div> -->
        <p class="empty-state-text">
          {{'You have not made any transactions yet.'|translate}}
        </p>
      </div>
    </div>
  </div>
</div>
