<div id="pass">
    <!-- <div class="pass-banner"></div> -->
    <div class="overlay"></div>
    <div class="pass-bottom">
        <div class="pass-window">
            <div class="pass-window-icon">
                <span>Existing ETPS User</span>
            </div>
            <form class="clearfix pass-window-form">
              <div class="input-field">
                  <input id="userName" type="text">
                  <label for="password"><translate>Your User Name</translate></label>
              </div>

              <div class="input-field">
                <input id="password" type="password">
                <label for="password"><translate>Your Password</translate></label>
            </div>
              
              
              <div class="text-center">
                  <a class="btn btn-blue waves-effect waves-light"><translate>Login</translate></a>
              </div>
            </form>
        </div>

        <div class="pass-footer clearfix">ETP © 2017. All Rights Reserved.</div>
    </div>
</div>
