<div class="top-margin"></div>
<!--For Top Bar-->
<div class="row">
    <div class="col-md-3 col-sm-6 pr7">
        <div class="widget smart-standard-widget ch-title-border-top">
            <div class="widget-caption info">
                <div class="widget-detail">
                    <h3 class="cl-info ch-title">19901</h3>
                    <span class="info-heading">Chain Height</span>
                </div>
            </div>
            <span class="icon-box light-green-bg"><i class="material-icons">link</i></span>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 pr7 pl7">
        <div class="widget smart-standard-widget red-border-top">
            <div class="widget-caption info">
                <div class="widget-detail">
                    <h3 class="cl-info ch-title red-color">$63.5</h3>
                    <span class="info-heading">Price</span>
                </div>
            </div>
            <span class="icon-box dark-red-bg"><i class="material-icons">attach_money</i></span>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 pr7 pl7">
        <div class="widget smart-standard-widget orange-border-top">
            <div class="widget-caption info">
                <div class="widget-detail">
                    <h3 class="cl-info ch-title orange-color">$7877539.05</h3>
                    <span class="info-heading">Market Top</span>
                </div>
            </div>
            <span class="icon-box light-orangr-bg"><i class="material-icons">insert_chart</i></span>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 pl7">
        <div class="widget smart-standard-widget green-border-top">
            <div class="widget-caption info">
                <div class="widget-detail">
                    <h3 class="cl-info ch-title green-color">134259</h3>
                    <span class="info-heading">Transactions</span>
                </div>
            </div>
            <span class="icon-box normal-green-bg"><i class="material-icons">account_balance_wallet</i></span>
        </div>
    </div>
</div>
<!--End Top Bar-->

<div class="row">
    <!-- For Latest Block Details -->
    <div class="col-xs-12">
        <div class="panel panel-default" ng-class="{'paginated': countForgingBlocks || !searchBlocks.searchForBlock}">
            <div class="panel-heading">
                <h2>
                    {{'Latest Block Details'|translate}}
                </h2>
            </div>
            <table ng-show="countForgingBlocks  || !searchBlocks.searchForBlock" ng-table="tableBlocks" border="0" width="100%" cellpadding="0" cellspacing="0"
                    template-pagination="custom/pager">
                <div class="table-menu" ng-show="countForgingBlocks || !searchBlocks.searchForBlock">
                    <div class="more-down-table" dropdown on-toggle="toggled(open)" is-open="moreDownTable.isopen">
                        <i class="mdi-navigation-more-vert" dropdown-toggle aria-haspopup="true" aria-expanded="false"></i>

                        <div class="dropdown-menu" role="menu">
                            <p ng-click="check($event)"><input type="checkbox" class="filled-in violet" id="advanced" ng-model="showAllColumns"><label for="advanced"><translate>Show All Columns</translate></label></p>
                            <p ng-click="check($event)"><input type="checkbox" class="filled-in violet" id="fulltime" ng-model="showFullTime"><label for="fulltime"><translate>Show Full Time</translate></label></p>
                        </div>
                    </div>
                </div>
                <tr ng-repeat="block in $data" ng-class="{'voted': address == block.generatorId}">
                    <td data-title="tableBlocks.cols.Id" sortable="'Id'" class="pointer"><a href="#">40005554</a></td>
                    <td data-title="tableBlocks.cols.height" sortable="'height'" ng-click="blockInfo(block)" class="pointer"><a href="#">{{block.height}}</a></td>
                    <td data-title="tableBlocks.cols.timestamp" sortable="'timestamp'"><span ng-show="block.timestamp > 0">{{block.timestamp | timeAgoFilter : showFullTime}}</span> <span ng-show="block.timestamp == 0">-</span></td>
                    <td data-title="tableBlocks.cols.transactions"><a href="#" ng-click="userInfo(block.generatorId)">{{block.generatorId}}</a></td>
                    <td data-title="tableBlocks.cols.generatedBy"><a href="#" ng-click="userInfo(block.generatorId)">{{block.generatorId}}</a></td>
                    <td data-title="tableBlocks.cols.amount"><a href="#">{{block.numberOfTransactions}}</a></td>
                    <td data-title="tableBlocks.cols.fee">{{block.totalAmount  | ETPFilter}}</td>
                    <td data-title="tableBlocks.cols.monthlyReward" sortable="'reward'">{{block.reward | ETPFilter}}</td>
               </tr>
                <tr ng-show="!loading && (!$data || $data.length == 0) && !searchBlocks.searchForBlock">
                    <td colspan="8">
                        <translate>No blockchain</translate>
                    </td>
                </tr>
                <tr ng-show="loading">
                    <td class="gray2 white-text" colspan="8">
                        <translate>Loading...</translate>
                    </td>
                </tr>
            </table>
            <div class="panel-body empty-body empty-table"
                    ng-if="!countForgingBlocks && searchBlocks.searchForBlock">
                <div class="logo-grey"></div>
                <p class="empty-state-text"><translate>No results for this search.</translate></p>
            </div>
        </div>
    </div>
    
    <!-- For Latest Block Details -->
    <div class="col-xs-12">
        <div class="panel panel-default" ng-class="{'paginated': countForgingBlocks || !searchBlocks.searchForBlock}">
            <div class="panel-heading">
                <h2>
                    {{'Latest Transaction Details'|translate}}
                </h2>
            </div>
            <table ng-show="countForgingBlocks  || !searchBlocks.searchForBlock" ng-table="tableBlocks" border="0" width="100%" cellpadding="0" cellspacing="0"
                    template-pagination="custom/pager">
                <div class="table-menu" ng-show="countForgingBlocks || !searchBlocks.searchForBlock">
                    <div class="more-down-table" dropdown on-toggle="toggled(open)" is-open="moreDownTable.isopen">
                        <i class="mdi-navigation-more-vert" dropdown-toggle aria-haspopup="true" aria-expanded="false"></i>

                        <div class="dropdown-menu" role="menu">
                            <p ng-click="check($event)"><input type="checkbox" class="filled-in violet" id="advanced" ng-model="showAllColumns"><label for="advanced"><translate>Show All Columns</translate></label></p>
                            <p ng-click="check($event)"><input type="checkbox" class="filled-in violet" id="fulltime" ng-model="showFullTime"><label for="fulltime"><translate>Show Full Time</translate></label></p>
                        </div>
                    </div>
                </div>
                <tr ng-repeat="block in $data" ng-class="{'voted': address == block.generatorId}">
                    <td data-title="tableBlocks.cols.height" sortable="'height'" ng-click="blockInfo(block)" class="pointer"><a href="#">{{block.height}}</a></td>
                    <td data-title="tableBlocks.cols.blockId" ng-click="blockInfo(block)" class="pointer" ng-show="showAllColumns"><a href="#">{{block.id}}</a></td>
                    <td data-title="tableBlocks.cols.generator" ng-show="showAllColumns"><a href="#" ng-click="userInfo(block.generatorId)">{{block.generatorId}}</a></td>
                    <td data-title="tableBlocks.cols.timestamp" sortable="'timestamp'"><span ng-show="block.timestamp > 0">{{block.timestamp | timeAgoFilter : showFullTime}}</span> <span ng-show="block.timestamp == 0">-</span></td>
                    <td data-title="tableBlocks.cols.numberOfTransactions" ng-click="showBlock(block)" class="pointer"><a href="#">{{block.numberOfTransactions}}</a></td>
                    <td data-title="tableBlocks.cols.totalAmount" sortable="'totalAmount'">{{block.totalAmount  | ETPFilter}}</td>
                    <td data-title="tableBlocks.cols.totalFee" sortable="'totalFee'">{{block.totalFee  | ETPFilter}}</td>
                    <td data-title="tableBlocks.cols.reward" sortable="'reward'">{{block.reward | ETPFilter}}</td>
                    <td data-title="''" class="width-80"></td>
                </tr>
                <tr ng-show="!loading && (!$data || $data.length == 0) && !searchBlocks.searchForBlock">
                    <td colspan="8">
                        <translate>No blockchain</translate>
                    </td>
                </tr>
                <tr ng-show="loading">
                    <td class="gray2 white-text" colspan="8">
                        <translate>Loading...</translate>
                    </td>
                </tr>
            </table>
            <div class="panel-body empty-body empty-table"
                    ng-if="!countForgingBlocks && searchBlocks.searchForBlock">
                <div class="logo-grey"></div>
                <p class="empty-state-text"><translate>No results for this search.</translate></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>
                    {{'ETP Tansaction Per Day'|translate}}
                </h2>
            </div>
            <div class="panel-body">
                <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-click="onClick"></canvas>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>
                        {{'ETP Price'|translate}}
                    </h2>
                </div>
                <div class="panel-body">
                    <canvas id="bar" class="chart chart-bar"
                        chart-data="data" chart-labels="labels"> chart-series="series"
                    </canvas>
                </div>
            </div>
    </div>
</div>