<div class="top-margin"></div>
<div class="row">
    <div class="col-xs-12">
        <!-- <p><strong>Page:</strong> {{tableParams.page()}}</p>
        <p><strong>Count per page:</strong> {{tableParams.count()}}</p> -->
        <div class="search-bar">
                <div class="search-toggle" ng-if="searchBlocks.searchForBlock">
                    <i ng-click="clearSearch()" class="mdi-content-clear small"></i>
                </div>
            <input  style="margin-bottom: 0px;" class="form-control" type="text" placeholder="{{'Search for stake'|translate}}" ng-model="filter.$" />
        </div>
        
        
        
        
        
        <div class="panel panel-default" ng-class="{'paginated': countForgingBlocks || !searchBlocks.searchForBlock}">
            <div class="panel-heading"> 
                <h2>
                  {{'Latest Orders'|translate}}
                </h2>
            </div>
            <table ng-table="tableParams" class="table">
                <tr ng-repeat="fo in $data">
                    <td data-title="tableParams.cols.freezedAmount">{{fo.freezedAmount}}</td>
                    <td data-title="tableParams.cols.status" sortable="'freezeAmount'">{{fo.status ? 'Active' : 'Inactive'}}</td>
                    <td data-title="tableParams.cols.insertTime" sortable="'freezeAmount'">{{ fo.startTime | timestampFilter}}</td>
                    <td data-title="tableParams.cols.matureTime" sortable="'freezeAmount'">{{fo.endTime | timestampFilter}}</td>
                    <td data-title="tableParams.cols.monthRemain" sortable="'freezeAmount'">{{fo.milestoneCount}}</td>
                    <td data-title="tableParams.cols.recipient" sortable="'freezeAmount'">{{fo.recipientId}}</td>
                    <td data-title="tableParams.cols.action" sortable="'freezeAmount'" class="text-center">
                        <a ng-click="sendFreezeOrder(fo.id)"><i class="mdi-content-send"></i></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
