<div class="top-margin"></div>
<div class="row">
    <div class="col-xs-12">
        <!-- For stake search bar -->
        <div class="search-bar" ng-show="view.bar.showStakeSearchBar">
            <div class="search-toggle" ng-if="searchStake.searchForStake">
                <i ng-click="clearSearch()" class="mdi-content-clear small"></i>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="mdi-action-search"></i>
                </span>
                <input type="text" class="form-control" placeholder="{{'Search for Stake'|translate}}" ng-model="searchStake.searchForStake">
                <span class="input-group-addon spinner-addon">
                    <div class="preloader-wrapper" ng-class="{'active': searchStake.inSearch}">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>


        <div class="panel panel-default" ng-class="{'paginated': countFreezeOrders || !searchStake.searchForStake}">
            <div class="panel-heading">
                <h2>
                    {{'Latest Orders'|translate}}
                </h2>
            </div>
            <table ng-show="countFreezeOrders" ng-table="tableStakes" border="0" width="100%" cellpadding="0"
            cellspacing="0" template-pagination="custom/pager">
                <tr ng-repeat="fo in $data">
                    <td data-title="tableStakes.cols.freezedAmount" sortable="'freezedAmount'">{{fo.freezedAmount / 100000000}}</td>
                    <td data-title="tableStakes.cols.status" sortable="'status'">{{fo.status ? 'Active' : 'Inactive'}}</td>
                    <td data-title="tableStakes.cols.startTime" sortable="'startTime'">{{ fo.startTime | timestampFilter}}</td>
                    <td data-title="tableStakes.cols.matureTime" sortable="'matureTime'">{{fo.endTime | timestampFilter}}</td>
                    <td data-title="tableStakes.cols.monthRemain" sortable="'monthRemain'">{{6-fo.milestoneCount}}</td>
                    <td data-title="tableStakes.cols.recipient" sortable="'recipient'">{{fo.recipientId || '-'}}</td>
                    <td data-title="tableStakes.cols.action">
                        <a class="sendFreezeAmount-btn" ng-click="sendFreezeOrder(fo.id,fo.freezedAmount)">
                            <i class="mdi-content-send"></i>
                        </a>
                    </td>
                </tr>
                <tr ng-show="loading">
                    <td class="gray2 white-text" colspan="7">
                        <translate>Loading...</translate>
                    </td>
                </tr>
            </table>
            <div class="panel-body empty-body empty-table" ng-if="!countFreezeOrders">
                <p class="empty-state-text">
                    <translate>No results for this search.</translate>
                </p>
            </div>
            
        </div>
    </div>
</div>